<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamdigitizers.mysound" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic__launcher"
        android:label="@string/title__app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.classes.activities.ActivityStart"
            android:configChanges="orientation|screenSize|locale" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.classes.activities.ActivityInitialization"
            android:configChanges="orientation|screenSize|locale" >
        </activity>

        <activity
            android:name=".views.classes.activities.ActivityMain"
            android:configChanges="orientation|screenSize|locale"
            android:windowSoftInputMode="stateUnspecified|adjustResize" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.dreamdigitizers.mysound.views.classes.activities.ActivityMain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dreamdigitizers.androidbaselibrary.views.classes.activities.ActivityDummy"
            android:theme="@android:style/Theme.NoDisplay"
            android:allowTaskReparenting="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true" />

        <service
            android:name=".views.classes.services.ServicePlayback" >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserServiceCompat" />
                <action android:name="com.dreamdigitizers.androidbaselibrary.views.classes.services.ServiceMediaPlayer.ACTION__MEDIA_COMMAND" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.dreamdigitizers.androidbaselibrary.views.classes.services.ServiceMediaPlayer$MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
